<div class="jumbotron text-center">
  <h2>Contatti</h2>
</div>

<div class="article text-center">
  <h5>Numero di telefono personale</h5>
  <h3>+39 345 8104583</h3>

  <hr />

  <h5>E-Mail personale</h5>
  <h3>fabiolavini@gmail.com</h3>

  <hr />

  <h5>Indirizzo</h5>
  <h3>Via Carlo Rossi 1, Brescia 25025 (BS) - ITALY</h3>
</div>
