<div class="jumbotron text-center">
  <h2>Curriculum Vitae</h2>
  <h3>Fabio Lavini</h3>
</div>

<div class="article">

  <h3 class="curriculum-text">Informazioni personali</h3>
  <table class="table table-striped curriculum">
    <tr>
      <th>Nome</th>
      <td>Fabio Lavini</td>
    </tr>
    <tr>
      <th>Indirizzo</th>
      <td>33/a Via Varisco , 25123 Brescia ( IT )</td>
    </tr>
    <tr>
      <th>Telefono</th>
      <td>030 362380 – 030 3061400</td>
    </tr>
    <tr>
      <th>E-Mail</th>
      <td>fabiolavini@gmail.com</td>
    </tr>
    <tr>
      <th>Nazionalità</th>
      <td>Italiana</td>
    </tr>
    <tr>
      <th>Data di nascita</th>
      <td>27 Giugno 1954</td>
    </tr>
    <tr>
      <th>Luogo di nascita</th>
      <td>Comezzano (BS)</td>
    </tr>
    <tr>
      <th>Stato civile</th>
      <td>Coniugato con 3 figli</td>
    </tr>
  </table>

<div class="curriculum-text">
  <h3 >Esperienza professionale</h3>
  <h4>Dal 1974</h4>
  <p>In ASM di Brescia dove attualmente è responsabile del Settore Patrimonio (ora area Brescia/ Bergamo Property – A2A SpA) della quale cura gli aspetti tecnici e fiscali con procura a tutte le analisi e conseguenti trattative e formalizzazione acquisizioni, dismissioni, locazioni , diritti di superficie ecc , tenuta dell’inventario nonché propone soluzioni di razionalizzazione edilizia e riutilizzo dei cespiti eventualmente spogliati della loro originaria strumentalità. Interviene nella formazione degli atti tra Soc. ed intersocietari e per operazioni di merger.<br />Riveste inoltre la funzione di Risk Engineering manager curando l’analisi, le proposte per la prevenzione e la diminuzione dei rischi puri industriali ante il relativo collocamento in ambito assicurativo.E’ socio di ANRA – Associazione Nazionale di Risk Manager.<br />Ha rappresentato ASM al First European Tradesector Forum di Bordeaux con i risk manager di EDF / Suez- Gaz de France / RWE / Enel / Edison / EON / Iberdrola  del 2006.<br />Sempre nel 2006 progetta e partecipa al road-show promosso a Londra per la presentazione del “rischio” ASM al mercato assicurativo londinese che risulta essere uno dei primi approcci in ambito extranazionale di tal genere nel settore delle multiutility.</p>
</div>

<div class="curriculum-text">
  <h3 >Esperienza Extra-professionale</h3>
  <h4>Dal 1974</h4>
  <p>Eletto nel 1994 Presidente dell’Ottava Circoscrizione del Comune di Brescia che si rende promotrice di molteplici e innovative iniziative rivolte alla collettività con particolare riguardo ad anziani e giovani trovando l’Amministrazione solidale in diversi progetti tra i quali di rilievo si annotano la progettazione e successiva proposta e realizzazione della prima ludoteca cittadina in Largo Torrelunga ,quella del recupero dell’antico palazzo ex plesso scolastico di S. Eufemia della Fonte in centro diurno e residenze per anziani e la spinosa vicenda del recupero del Monastero di S. Eufemia ( poi destinato in comodato d’uso al Museo delle Mille Miglia).<br />Adempie al proprio programma che , tra i progetti maggiori già elencati , comprende le problematiche del Naviglio Grande ( ed esondazioni in S. Eufemia ) ,Parco Ducos riqualificabile ed ampliabile con particolare attenzione alla sicurezza ed al fenomeno della prostituzione anche sui viali contermini , nonché alla richiesta dell’ufficio postale in V.le Piave ( che purtroppo vedrà la luce solo dopo diversi anni).
  Partecipa al gruppo di lavoro per la redazione del Nuovo regolamento dei Consigli Circoscrizionali , poi regolarmente emendato.<br />Sarà incaricato per conto di tutti i nove Presidenti di Circoscrizione a rappresentarli ed a redigere ed esporre le tesi condivise nel convegno del 1995 sulla “ nuova dimensione urbana , temi e problemi della politica urbanistica a Brescia”.<br />Nel 1999 è chiamato a collaborare come esperto esterno ( ed a titolo completamente gratuito) con il Comune di Brescia – Unità di staff Statistica allo studio ed all’estimazione del patrimonio edilizio privato della Città nel contesto dell’analisi delle diverse qualità immobiliari urbanistiche e sociali  delle microzone fornendo i propri risultati sulla scorta di un proprio modello di indagine elaborato per la specificità del quesito.<br />Dall’aprile del 2001 ricopre l’incarico di  Segretario e membro del Consiglio di amministrazione dell’Opera Pia Villa Paradiso ed in tale condizione contribuisce e sostiene la trasformazione dell’ IPAB in Fondazione. Presupposto , quest’ultimo , necessario per l’attivazione di importanti progetti di recupero funzionale dello storico patrimonio immobiliare detenuto dall’ente stesso al fine di impostare una nuova , più dinamica e proficua gestione rivolta alle attività previste dallo statuto nella continuità della sua vocazione originaria.<br />Nel giugno del 2002 fonda e regolarmente costituisce l’Associazione “ ApertaMente “ con lo scopo di promuovere , di proporre ,di sensibilizzare, di condividere e informare circa tematiche socio-politiche , economiche , ambientali , della salute , della cultura e del territorio. Ne fanno parte rappresentanti del mondo professionale ,della cultura e del lavoro che , con esperienze diverse arricchiscono lo svolgimento dell’attività dell’Associazione anche attraverso lo svolgimento di convegni pubblici. Dalla data di fondazione ricopre la carica di Presidente della medesima Associazione.<br />Convegni pubblici promossi:
  </p>
  <ul>
    <li>Comunicazione e informazione: dalla legge Mammì ad oggi. Relazioni e discussione con interpreti della comunicazione radio televisiva e stampa nonché con il Dott. E. Zamboni del Sole 24 ore.</li>
    <li>Problematiche del Sistema carcerario</li>
    <li>Convegno sulle Fonti alternative di Energia</li>
    <li>“Chi decide la mia terapia? Medici, pazienti, diritti e interessi nel mercato delle malattie“</li>
    <li>“Qualità ed equità nelle trasformazioni urbane- Brescia – il PGT – una nuova pianificazione con una nuova legge“</li>
  </ul>
  <p>E’ stato membro e Segretario Generale del Consiglio dell’UCID di Brescia fino al 2013.<br />E’ membro del Consiglio Direttivo e Probiviro dell’Associazione diplomati Master di Università ed Impresa.</p>
</div>

<div class="curriculum-text">
  <h3>Istruzione e Formazione</h3>
  <h4>Scolastica</h4>
  <p>Diplomatosi all’Istituto Superiore per geometri , frequenta il biennio del corso di laurea in ingegneria civile c/o il Politecnico di Milano a cui segue il triennio del corso di laurea  in Economia e Commercio dell’Università di Brescia con all’attivo n.° 23 esami.</p>

  <h4>Lingue straniere</h4>
  <p>Inglese: base - Francese: buono</p>
</div>

  <h3 class="curriculum-text">Informazioni personali</h3>
  <table class="table table-striped">
    <tr>
      <th>1987</th>
      <td>Master annuale promosso dalla Regione Lombardia sul tema della “comunicazione”</td>
    </tr>
    <tr>
      <th>1989</th>
      <td>Master sulla “ Negoziazione “</td>
    </tr>
    <tr>
      <th>1993</th>
      <td>Diploma di Amministratore Condominiale</td>
    </tr>
    <tr>
      <th>Nov '93 - Apr '94</th>
      <td>Corso Avanzato di “ Managerialità nelle Aziende di pubblico Servizio “ presso ISFOR 2000</td>
    </tr>
    <tr>
      <th>1995</th>
      <td>Specializzazione in materia catastale e procedure informatiche presso la Scuola Superiore di Amministrazione Pubblica e degli Enti Locali di Roma</td>
    </tr>
    <tr>
      <th>1995 - 1996</th>
      <td>Specializzazione in materia del regime civilistico e fiscale nelle operazioni immobiliari</td>
    </tr>
    <tr>
      <th>1997</th>
      <td>Formazione sulle valutazioni immobiliari, progettazione e finanziamento</td>
    </tr>
    <tr>
      <th>1999 - 2001 - 2002</th>
      <td>Formazione sulla gestione dei programmi assicurativi</td>
    </tr>
    <tr>
      <th>2003</th>
      <td>Formazione base ed avanzata in Risk Management - Diploma di Master Annuale promosso da Cineas- Politecnico di Milano in Risk Engineering</td>
    </tr>
    <tr>
      <th>2005</th>
      <td>Titolo di Master annuale in “ Economia e Gestione Immobiliare “ promosso dalla Soc. Consortile</td>
    </tr>
    <tr>
      <th>2006</th>
      <td>Università ed Impresa - Corso di Formazione: “Tassazione sugli immobili, problematiche fiscali del mercato immobiliare“</td>
    </tr>
    <tr>
      <th>2008</th>
      <td>Corso SDA Bocconi : “ Valutazione e fattibilità delle operazioni immobiliari “ - Modulo specialistico di completamento e perfezionamento “ Master in Economia e gestione immobiliare “ – ISFOR 2000 -</td>
    </tr>
  </table>


</div>
